<h1>Hacker News</h1>
<ul>
<% @links.each do |link|%>
  <li><%= link.name%><%= link.votes.each {|vote| vote += 1} %></li>
<%end%>
</ul>

<%= link_to "New Link", new_link_path, :class =>'btn btn-info' %>
