<h1>Hacker News</h1>
<dl>
<% @links.sort_votes.each do |link|%>
  <dt><span class='btn-xs' id='link-button'><%= link.votes.count %></span><%= link_to "  #{link.name}", link_path(link)%></dt>
<%end%>
</dl>

